.deps/
.libs/
*.lo
*.o
*.la
Makefile
*.pc
*.mps
stamp-h1
stamp-h2
config.*
Clp/doxydoc/doxygen.conf
Clp/src/clp
Clp/src/config_clp.h
CoinUtils/doxydoc/doxygen.conf
CoinUtils/src/config_coinutils.h
Osi/doxydoc/doxygen.conf
Osi/src/Osi/config_osi.h
coin_subdirs.txt
doxydoc/doxygen.conf
libtool